body {
	background-color: #343541;
}

.form-container {
	width: 100%;
	position: absolute;
	bottom: 4rem;
	display: flex;
	justify-content: center;
}

.message-box {
	padding: 8px;
	background-color: #40414F;
	width: 70%;
	border: none;
	border-radius: .5em;
	padding: 1.5em;
	color: #d1d5db;
}

.message-box:focus {
	outline: none;
}

.header-container {
	color: #f9f9f9;
	display: flex;
	justify-content: center;
}